.header {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}

img {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cook-time {
    text-align: center;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.Time {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: gray;
    border: 2px dotted gray;
}

.Ingredients-style {
    text-align: center;
}

.Ingredients {
    text-align: center;
    border: 2px solid red;
    font-size: 20px;
    list-style: none;
}

.instructions {
    text-align: center;
}

.instructions-desc {
    text-align: center;
    text-decoration: none;
    border: 2px solid red;
}
